<div class='body'>
  <div class='container'>
    <p id="notice"></p>
    <div class='row'>
      <div class='col-xs-3'>
        <%= render 'users/userinfo', user: '@user' %>

        <%= render 'books/newbook', book: '@book' %>

      </div>

      <div class='col-xs-9'>
        <%= render 'books/booklist', books: '@books' %>
      </div>
    </div>
  </div>
</div>

